* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 10vh;
}

@font-face {
  font-family: rethink-semibold;
  src: url(Adrenaline_junkie\fonts\rethink-sans\ttf\RethinkSans-SemiBold.ttf);
}
